{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}

{{ range .packages.common -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{/* todo */}}
{{ end -}}

{{/* darwin and linux */}}
{{ range .packages.pipx -}}
pipx install {{ . | quote  }}
{{ end -}}

{{ range .packages.ansible_galaxy_collections -}}
ansible-galaxy collection install {{ . | quote }}
{{ end -}}
